*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(240, 255, 240, 0.253);
    background-image: url(./pexels-nitin-arya-386173-1029141.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    margin-bottom: 1rem;
}
h1{
    padding: 1rem;
    text-align: center;
    color: rgb(100, 230, 80);
}
dialog{
    backdrop-filter: blur(20px);
    color: inherit;
    background-color: rgb(226, 235, 226);
    font-size: 0.9rem;
    position: absolute;
    bottom: 10%;
    margin: 0 auto;
    min-width: 300px;
    width: 50%;
    max-width: 400px;
    border: 2px solid rgb(100, 230, 80);
    border-radius: 0.3rem;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
label, input, button, select{
    display: block;
    font: inherit;
    color: inherit;
    background-color: inherit;
}
input, select, button{
    padding: 0.3rem;
    border-radius: 0.3rem;
}
select, button{
    min-width: 100px;
    width: 50%;
    margin: 0 auto;
}
.add-new-btn{
    position: fixed;
    bottom: 2rem;
    width: 100%;
}
#add-new-book{
    border: none;
    box-shadow: none;
    background-color: rgb(100, 230, 80);
    max-width: 200px;
    margin: 0 auto;
}
button{
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: -2px -2px 5px rgb(100, 230, 80);
}
button:hover{
    border: 1px solid rgb(100, 230, 80);
}
#refer{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}
#refer{
    text-decoration: none;
    color: rgb(100, 230, 80);
}

.container {
  color: rgb(250, 219, 219);
  display: grid;
  grid-template-columns: repeat(auto, minmax(1fr, 250px));
  gap: 1rem;
  margin: 0 auto;
  width: 80%;
  height: 90%;
  background-color: rgba(71, 71, 71, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 0.5rem;
}
.card {
    padding: 0.3rem;
    color : inherit;
    border-radius: 0.5rem;
}
.bookCard {
    margin: 0.5rem;
    width: calc(100px + 10vw);
    height: calc(100px + 5vh);
    box-shadow: 1px 1px 5px rgb(100, 230, 80);
    background-color: rgba(245, 117, 70, 0.692);
}